body {
  font-family: Arial, Helvetica, sans-serif;
}
#home, .question-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/jspic.jpeg");
  background-size: cover;
  height: 1300px;
}
.a-top-row {
  padding: 150px 0 100px 0;
}

.a-home-text {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.logos {
  height: 200px;
}

.hide {
  display: none;
}

#feedback {
  font-size: 40px;
}

ol {
  font-size: 30px;
  padding: 0 0 30px 70px;
}

li {
  color: rgb(17, 200, 17);
  font-weight: 700;
}

li::marker {
  color: white;
}
